
html,body{
	height: 99%;
	width: 99%;
	background-color: #272838
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: #6B7F82;
	margin: 15px;
	padding: 10px;
	border: 3px solid #DCEED1;
	box-shadow: 1px 3px 30px 1px #EB9486;
	outline: 10px 10px #EB9486 groove;
	text-transform: capitalize;
	text-shadow: 1px 1px #6B7F82 ;
	font-family: fantasy;
	height: 150px;
	text-align: right;
	font-style: oblique;
}
h1{
	font-size: 0.7em;
}

#logo{
	width: 50px;
	position: absolute;
	top: 60px;
	right: 210px;
}
.container{
	border:2px #DCEED1 solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: #6B7F82;
}
.wave{
	border: #EB9486 1px solid;
	background-color: rgba(255,34,45, 0.5);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#6B7F82 1px solid;
	background-image:repeating-linear-gradient(#EB9486, #272838);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:#EB9486;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px #272838;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: #EB9486;
	background-color: #272838;
	text-shadow: 0px 0px ;
	font-size: 0.5em;
	padding: 1px;
	border: 1px solid #EB9486;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: #272838;
	background-color: #EB9486;
}